*:focus {
	outline: none;
}

body {
	background: rgba(0, 0, 0, .3);
}

.emojione {
	width: 100%;
	height: 100%;
	zoom: 0.35; /* magic number */
}

.emoji, .modifier {
	cursor: pointer;
}

.emoji-dialog {
	height: 100%;
}

.App {
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 276px;
	height: 350px;
}
